@charset "UTF-8";

/*Reward*/
.reward {
  padding: 5px 0;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.reward .reward-notice {
  font-size: 22px;
  line-height: 14px;
  margin: 15px auto;
  text-align: center
}

.reward .reward-button {
  font-size: 14px;
  line-height: 27.5px;
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  -webkit-user-select: none;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 1px solid #f1b60e;
  border-radius: 50%;
  background: #fccd60;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fccd60), color-stop(100%, #fbae12), color-stop(100%, #2989d8), color-stop(100%, #207cca));
  background: -webkit-linear-gradient(top, #fccd60 0, #fbae12 100%, #2989d8 100%, #207cca 100%);
  background: linear-gradient(to bottom, #fccd60 0, #fbae12 100%, #2989d8 100%, #207cca 100%)
}

.reward .reward-code {
  position: absolute;
  top: -230px;
  left: 50%;
  display: none;
  width: 350px;
  height: 200px;
  margin-left: -195px;
  padding: 15px;
  border: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0 1px 1px 1px #efefef
}

.reward .reward-button:hover .reward-code {
  display: block
}

.reward .reward-code span {
  display: inline-block;
  width: 150px;
  height: 150px
}

.reward .reward-code span.alipay-code {
  float: left
}

.reward .reward-code span.alipay-code a {
  padding: 0
}

.reward .reward-code span.wechat-code {
  float: right
}

.reward .reward-code img {
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 0
}

.reward .reward-code b {
  font-size: 14px;
  line-height: 26px;
  display: block;
  margin: 0;
  text-align: center;
  color: #666
}

.reward .reward-code b.notice {
  line-height: 2rem;
  margin-top: -1rem;
  color: #999
}

.reward .reward-code:after,
.reward .reward-code:before {
  position: absolute;
  content: '';
  border: 10px solid transparent
}

.reward .reward-code:after {
  bottom: -19px;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff
}

.reward .reward-code:before {
  bottom: -20px;
  left: 50%;
  margin-left: -5px;
  border-top-color: #e6e6e6
}

/*pagination*/
.pagination-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding-top: 2rem;

  .prev,
  .next {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    background: linear-gradient(180deg, transparent 90%, rgba(101, 125, 225, .4) 0);
  }

  .prev {

    float: left;
  }

  .next {
    margin-left: 20px;
    float: left;
  }
}

/*glitch*/
.glitch {
  margin: auto;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  mix-blend-mode: lighten
}

.glitch:after,
.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  clip: rect(0, 0, 0, 0)
}

.glitch:before {
  left: -1px;
  text-shadow: 1px 0 #ff3f1a
}

.glitch:after {
  left: 1px;
  text-shadow: -1px 0 #00a7e0
}

.glitch:hover:before {
  text-shadow: 4px 0 #ff3f1a;
  animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse
}

.glitch:hover:after {
  text-shadow: -5px 0 #00a7e0;
  animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse
}

@-webkit-keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0)
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0)
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0)
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0)
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0)
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0)
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0)
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0)
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0)
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0)
  }
}

@-webkit-keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0)
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0)
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0)
  }

  75% {
    top: 0;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0)
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0)
  }
}

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0)
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0)
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0)
  }

  75% {
    top: 0;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0)
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0)
  }
}

/*Like*/
.Like {
  width: 100px;
  display: flex;
  align-items: center;
  line-height: 1rem;
  cursor: pointer;
  bottom: -20px;
  color: rgba(89, 99, 105, 1);
  position: relative;
  margin-left: 91%;
  margin-right: 0;
}

.Like:hover {
  color: #fff;
  font-size: 22px;
  border-radius: 2px;
}

.Like>div {
  background: rgba(1, 1, 1, 0.2);
  height: 24px;
  border-radius: 4px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.Like>div svg {
  width: 28px;
  height: 28px;
}

.Like>div a {
  font-weight: bold;
  text-align: center;
  padding-right: 4px;
  padding-left: 2px;
  align-items: center;
  font-size: 18px;
}

.like_text {
  position: relative;
  top: -5px;
}

/*Tips*/
.tip::after {
  background: rgba(79, 89, 95, 0.4);
  border-radius: 2px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: .7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  font-weight: lighter;
  padding: 2px 5px;
  line-height: 20px;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, .4rem);
  transition: opacity .2s, transform .2s;
  white-space: pre;
  z-index: 30;
}

.tip:focus::after,
.tip:hover::after {
  opacity: 1;
  transform: translate(-50%, -.2rem)
}

/*search*/
.search-input {
  position: relative;
  top: -3px;
  left: -2px;
  width: 160px;
  height: 26px;
  padding: 0 0 2px 27px;
  font-size: 16px;
  background: #fafafa url(https://i.loli.net/2020/01/12/X3cnLxGjo7Wb8Jk.png) 6px 3px no-repeat;
  background-size: 20px;
  border: none;
  border-radius: 15px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  outline: none;
  color: #424242;
  border-bottom: 1px solid #beb1b1;
  transition: border-color .2s;
/*
  &:hover {
    width: 180px;
  }*/

  .dark-theme {
    color: #fafafa;
  }
}

/*Posts*/
.post-main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 80px;
}

.post-list {
  border-radius: 5px;
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dark-theme {
  .post-item {
    background-color: #424242;
    box-shadow: 1px 5px 10px -5px #444;

    &:hover {
      background-color: #e0e0e0;
      box-shadow: 1px 5px 10px -5px #888;
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);

      span {
        color: #161209;
      }

      a {
        color: #161209;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

        &:hover {
          color: #2d96bd;
          text-decoration: none;
          transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
        }
      }
    }
  }
}

#gridea-search-result {
  background-color: #e0e0e0;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  padding: 32px 10px;
  box-shadow: 1px 5px 10px -5px #444;
  position: relative;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.post-item {
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 25px;
  padding: 32px 10px;
  max-height: 200px;
  box-shadow: 1px 5px 16px -6px #444;
  position: relative;

  .content {
    flex: 1;

    .post-abstract {
      font-size: 14px;
      margin: 16px 0 8px;
      flex: 1;
      color: #4E616C;
      overflow: hidden;
      line-height: 24px;
      position: relative;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      strong {
        font-weight: bolder;
      }

      a {
        font-weight: 600;
        background-color: transparent;
        color: #161209;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
        cursor: pointer;

        &:hover {
          color: #2d96bd;
          text-decoration: none;
          transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
        }
      }

      code {
        padding: 0 3px;
        margin: 0 2px;
        background: rgba(195, 195, 195, 0.41);
        font-size: 0.9em;
        border-radius: 2px;
      }

    }
  }

  .feature-container {
    margin-left: 16px;
    flex-shrink: 0;
    width: 240px;
    height: 135px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  @media screen and (max-width: 479px) {
    .feature-container {
      width: 160px;
      height: 90px;
      margin-top: 25%;
    }
  }
  

  &:hover {
    background-color: #424242;
    box-shadow: 1px 5px 10px -5px #888;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);

    span {
      color: #bdbdbd;
    }

    a {
      color: #bdbdbd;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

      &:hover {
        color: #fafafa;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }
}

/*Friends*/
.friend-box {
  float: left;
  width: calc(50% - 20px);
  margin: 15px 10px;

  img.friend-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50% !important;
    float: left;
    margin: 0 15px 0 0 !important;
  }

  .flink-info {
    height: 70px;
    overflow: hidden;
    line-height: 24px;
  }
}

/*Center post header*/
.post-header{
  text-align: center;
  
}
/*Post feature image*/
.post-feature-image {
  display: block;
  width: 100%;
  padding-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
  img {
    width: 100%;
    // height: 100%
  }
  &:hover {
    transform: scale(1.0082);
  }
}

/*Toc*/
.post-toc {
  .markdownIt-TOC {
    position: sticky;
    top: 32px;
    font-size: 12px;
    list-style: none;
    padding: 1px 0px 0px 0px;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    height: calc(100vh - 128px);
    padding-bottom:80px;
    overflow-y: auto;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 8px;
      bottom: 0;
      width: 1px;
      background-color: #ebedef;
      opacity: .5;
    }
    >li:last-child{
      padding-bottom:200px;
    }
  }

  ul {
    list-style: none;
    margin-left: -2.5em;
  }

  li {
    padding-left: 16px;

    a {
      padding: 4px;
      display: block;
      transition: all 0.3s;

      &:hover {
        border-radius: 5px;
        color: #2d96bd;
        font-size: larger;
        background: #33333333;
      }

      &:hover,
      .dark-theme {
        border-radius: 5px;
        color: #2d96bd;
        font-size: larger;
        background: #ffffff33;
      }

      &.current {
        color: #2d96bd;
        border-radius: 5px;
        font-size: larger;
        background: #33333333;
      }

      &.current,
      .dark-theme {
        color: #2d96bd;
        border-radius: 5px;
        font-size: larger;
        background: #ffffff33;
      }
    }
  }
}
.intro .avatar img {
  width: 128px;
  height: 128px;
}
@media screen and (max-width: 780px) {
  .Like {
    left: -80%;
    bottom: 15px;
  }

  .friend-box {
    float: left;
    width: calc(50% - 20px);
    margin: 15px 10px;

    img.friend-avatar {
      width: 35px;
      height: 35px;
      border-radius: 50% !important;
      float: left;
      margin: 0 15px 0 0 !important;
    }

    .flink-info {
      height: 70px;
      overflow: hidden;
      line-height: 24px;
    }
  }
}

.en {}

.zh {}

#menu-toggle-zh {}

#menu-toggle-en {}